.container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.button {
  max-width: 20px;
}
@media (orientation: portrait)  {
  .icon {
    font-size: 50pt;
  }
}

@media (orientation: landscape)  {
  .icon {
    font-size: 30pt;
  }
}

