.container {
  display: flex;
  background-color: #c1d4ff;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}

.player {
  background-color: aquamarine;
  text-align: center;
  position: relative;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  background-color: #c1d4ff;
  align-content: space-around;
  justify-content: space-around;
}

.centralColumn {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.contentHeader {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

@media (orientation: portrait) {
  .player {
    width: 46vw;
    height: 7vh;
  }
  .content {
    flex-basis: 10vh;
  }
  .column {
    height: 50vh;
  }
  .container {
    justify-content: space-around;
    height: 47vh;
  }
  .centralColumn {
    flex-basis: 97vw;
    min-width: 200px;
    height: 47vh;
    order: 1;
  }
}

@media (orientation: landscape) {
  .player {
    width: 25vw;
    height: 13vh;
    margin-left: 5px;
    margin-right: 5px;
  }
  .column {
    height: 98vh;
  }
  .content {
    flex-basis: 60vh;
  }
  .container {
    justify-content: space-between;
    height: 98vh;
    width: 98vw;
  }
  .centralColumn {
    order: 0;
    flex-grow: 2;
    width: 45vw;
  }
}
