.option {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
}

.buttonEnabled {
  width: 100%;
  pointer-events: all;
}

.buttonDisabled {
  width: 100%;
  pointer-events: none;
}

@keyframes show-avatar {
  0%   {transform: scale(0);}
  60%  {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.avatar {
  background-color: white;
  animation: show-avatar 0.7s ease-in-out;
  opacity: 50%;
}


@media (orientation: portrait) {
  .option {
    width: 99vw;
    left: 0px;
  }

  .avatar {
    width: 25px !important;
    height: 25px !important;
  }
}

@media (orientation: landscape) {
  .option {
    width: 39vw;
  }
}
