@keyframes show-avatar {
  0%   {transform: scale(0.5) rotate(-30deg);}
  25%  {transform: scale(0.7) rotate(0deg);}
  50%  {transform: scale(1) rotate(30deg);}
  75%  {transform: scale(0.7) rotate(0deg);}
  100% {transform: scale(0.5) rotate(-30deg);}
}

.avatar {
  background-color: white;
  animation: show-avatar 1s linear infinite;
}
